<form role="form">
    <legend>Edit Item</legend>

    <div class="form-group">
        <label for="">Name :</label>
        <input type="text" class="form-control" id="" ng-model="item.name" placeholder="Input field">
    </div>

    <div class="form-group">
        <label for="">Place :</label>
        <input type="text" class="form-control" id="" ng-model="item.place" placeholder="Input field">
    </div>

    <div class="form-group">
        <label for="">Price :</label>
        <input type="number" class="form-control" id="" ng-model="item.price" placeholder="Input field">
    </div>

    <div class="form-group">
        <label for="">Quantity :</label>
        <input type="number" class="form-control" id="" ng-model="item.quantity" placeholder="Input field">
    </div>

    <div class="form-group">
        <label for="">Bought at :</label>
        <input type="text" class="form-control" id="" ng-model="item.bought_at">
    </div>
    <a href="#/" class="btn btn-default">Back to List</a>
    <button type="submit" class="btn btn-success" ng-click="update(item)">Submit</button>
</form>
