<form class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="">name : </label>
        <input type="text" ng-model=newGrocery.name class="form-control" id="" placeholder="Input field">
    </div>

    <div class="form-group">
        <label class="sr-only" for="">price : </label>
        <input type="number" ng-model=newGrocery.price class="form-control" id="" placeholder="Input field">
    </div>

    <div class="form-group">
        <label class="sr-only" for="">bought at :</label>
        <input type="date" ng-model=newGrocery.bought_at class="form-control" id="" placeholder="Input field">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="addGrocery()">Submit</button>
</form>

<!-- List -->
<p><strong>Total :</strong> {{ groceries.length }}, <strong>Total price :</strong>  {{ totalPrice() | currency: "€" }}</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Bought At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Search -->
        <tr>
            <td>
                <input type="text" ng-model="searchByName">
            </td>
            <td>
                <input type="text" ng-model="searchByPrice">
            </td>
            <td>
                <input type="text">
            </td>
            <td>
                <button ng-click="search()">Search</button>
            </td>
        </tr>
        <tr ng-repeat="grocery in groceries">
            <td>{{grocery.name}}</td>
            <td>{{grocery.price | currency: "€"}}</td>
            <td>{{ grocery.bought_at }}</td>
            <th>
                <a href="#/{{grocery.id}}/edit">Edit</a>
                <button ng-click="removeGrocery(grocery)">Remove</button>
            </th>
        </tr>
    </tbody>
</table>
<div ng-repeat="grocery in groceries">
</div>
