<!-- List -->
<div id="total" class="text-right">
    <p><strong>Total :</strong> <span animate-on-change="groceries.length" class="total">{{ groceries.length }}</span></p>
    <p><strong>Total Amount :</strong>  <span animate-on-change="groceries.length" class="total">{{ totalPrice() | currency: "€" }}</span></p>
    <p ng-show="filtered()">
        <strong>Filtered Total :</strong> <span animate-on-change="filteredGroceries.length" class="total">{{ filteredGroceries.length }}</span>
    </p>
    <p ng-show="filtered()">
        <strong>Total Filtered Amount :</strong> <span animate-on-change="filteredGroceries.length" class="total">{{ totalFilteredPrice() | currency: "€"}}</span>
    </p>
</div>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th class="text-center">Actions</th>
            <th class="text-center">Name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Total Amount</th>
            <th class="text-center">Place</th>
            <th class="text-center">Bought At</th>
        </tr>
    </thead>
    <tbody>
        <!-- Search -->
        <tr>
            <td class="text-center">
                <a href="#/new" class="btn btn-default" >New</a>
                <a href="#/" class="btn btn-default" ng-click="refresh()">
                    refresh
                </a>
            </td>
            <td>
                <select name="" id="searchByName" class="select2" style="width: 100%">
                  <option ng-repeat="grocery in groceries | orderBy: 'name' | unique: 'name'">
                    {{grocery.name}}
                  </option>
                </select>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <select name="" id="searchByPlace" class="select2" style="width: 100%">
                  <option ng-repeat="grocery in groceries  | orderBy: 'place' | unique: 'place'">
                    {{grocery.place}}
                  </option>
                </select>
            </td>
            <td><input type="text" id="datepicker" ng-model="searchByDate" placeholder="Search By Date" class="form-control"></td>
        </tr>
        <tr class="item"
        ng-repeat="grocery in filteredGroceries = (groceries |
        filter: {name:searchByName, place:searchByPlace, bought_at:searchByDate}) ">
            <td class="text-center">
                <a href="#/{{grocery.id}}/edit" class="btn btn-default">
                    Edit
                </a>
                <button ng-click="removeGrocery(grocery)" class="btn btn-default">
                    Remove
                </button>
            </td>
            <td>{{grocery.name}}</td>
            <td>{{grocery.price | currency: "€"}}</td>
            <td>{{grocery.quantity}}</td>
            <td>{{grocery.price * grocery.quantity | currency: "€" }}</td>
            <td>{{grocery.place }}</td>
            <td>{{ grocery.bought_at }}</td>
        </tr>
    </tbody>
</table>
<div ng-repeat="grocery in groceries">
</div>
