/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font-family: "Lato";
    background-color: #f4f5f0;
}
.item {
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all; /* future proof */

}

.item.ng-enter {
  opacity: 0;
}

.item.ng-enter.ng-enter-active {
  opacity: 1;
}

.item.ng-leave {
  opacity: 1;
}

.item.ng-leave.ng-leave-active {
  opacity: 0;
}

[animate-on-change] {
    -webkit-transition:0.2s linear all;
    -moz-transition:0.2s linear all;
    -o-transition:0.2s linear all;
    transition:0.2s linear all; /* future proof */
}
[animate-on-change].changed {
    color: #98c224;
    transition: none;
    -webkit-transition: none;
}

#total {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.total {
    font-size: 1.5em;
}

